* {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}

.container-S{
    margin: auto;
    width: 920px;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.container-L{
    margin: auto;
    width: 1100px;
}

nav{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.left{
    display: flex;
}

.empty{
    background-color: transparent;
    border: none;
    padding: .5rem;
}

.logo{
    padding: .5rem;
}

.btn-blue{
    border: none;
    background-color: rgb(0, 97, 255);
    padding: .5rem;
    color: white;
}

.bk-blue{
    background-color: rgb(180, 208, 231);
}

.img{
    width: 100%;
    flex-grow: 1;
}

.info-header-container{
    display: flex;
}

.text{
    flex-grow: 2;
}

.column-testa{
    border: 1px solid grey;
    display: flex;
    justify-content: center;
}

.column-body{
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    
}

li{
    list-style: none;
}

.fa-solid.fa-check{
    color: rgb(0, 97, 255);

}

.column-container{
    display: flex;
}

.col{
    padding: .5rem;
}

.team{
    display: flex;
}