* {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}

.container-S{
    margin: 0 auto;
    width: 920px;
}

body{
    font-family:'Roboto', sans-serif;
}

.container-L{
    margin: 0 auto;
    width: 1100px;
}

nav{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.left{
    display: flex;
}

.empty{
    background-color: transparent;
    border: none;
    padding: .5rem;
}

.logo{
    padding: .5rem;
}

.btn-blue{
    border: none;
    background-color: rgb(0, 97, 255);
    padding: .5rem;
    color: white;
}

.bk-blue{
    background-color: rgb(180, 208, 231);
    position: relative;
}

.bk-blue .container-L{
    position: relative;
    bottom: -3rem;
}

section img{
    width: 100%;
    display: block;
}

.info-header-container{
    display: flex;

}

.img-container img{
    width: 100%;
}

.text{
    flex-grow: 2;
}

.column-testa{
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: center;
}

li{
    list-style: none;
}

.fa-solid.fa-check{
    color: rgb(0, 97, 255);

}

.column-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column-body{
    padding: 2rem 1.5rem;
}

.col{
    flex-basis: 30%;
    border: 1px solid lightgray;
}

.team{
    display: flex;
}



.btn-white{
    padding: .5rem;
    background-color: transparent;
}

.partner{
    display: flex;
}

.col-p{
    min-height: 300px;
}

.par{
    width: 40%;
    padding: 3rem 2.5rem;
}

.img-container{
    width: 60%;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card{
    flex-basis: 30%;
    flex-grow: 1;
    padding: 2rem 0;
}

section{
    padding: 3rem 0;
}

.btn{
    background-color: white;
    border: none;
    padding: .4rem 1.5rem;
}

.red{
    color:  rgb(97, 8, 43)
}

div>.red+.btn{
    display: flex;
}

.col h3{
    padding-bottom: 1rem;
}

.€{
    padding-bottom: .5rem;
}

.month{
    margin-bottom: 3rem;
    
}

.months{
    margin-bottom: 4rem;
    border: 1px solid lightgray;
}

li{
    padding-bottom: 1rem;
}

.column-body .btn-blue{
    margin: 1.5rem 0;
}

.link{
    padding: 2rem 0;
}

.business-container h2{
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.radio-cpntainer{
    padding-bottom: 2rem;
}

.enterprise-container{
    border: 1px solid lightgray;
    margin: 2rem 0;
}

.team-enter{
    padding: 3rem 2rem;
    display: flex;
    justify-content: space-between;
}

.left-enter{
    width: 100%
}

.left-enter h3{
    padding-bottom: 1rem;
}

.right-enter{
    width: 40%;
}

.question h2{
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.row{
    padding: 1.5rem 0;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.row-mid{
    padding: 1.5rem 0;
    border-bottom: 1px solid lightgray;
}

.row-b{
    padding: 1.5rem 0;
    border-bottom: 1px solid lightgray;
}

.list-question i{
    align-self: flex-end;
}

.list-question div{
    display: flex;
}

footer{
    background-color: black;
}

h4{
    color: white;
    padding-bottom: 1.5rem;
}

.coll li{
    color: white;
    padding: 0.3rem
}

.coll-container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
}

.coll{
    padding: 5rem 0;
}

.par div{
    padding: 2rem 0;
}

.border{
    border-bottom: 1px solid lightgray;
}

.display{
    display: flex;
    justify-content: space-between;
}

